#menu {

background-color:#C5E4FD;
 height:30px;
 width: 50%;
 margin-left: 20%;

}

#menu ul {

    float: left;    
    list-style: none;         
    margin-left: 20%;
    
}

#menu li {

     display: block;
     height:30px;
     
}

#menu a {

    color: black;
    text-decoration: none;

}

#dropdown {

    float:left;
    margin: 0;
    padding: 0;

}

#dropdown li {

    background-color: #C5E4FD;    
    float:left;
    margin: 0;
    padding:0 0 0 10px;
    position: relative;
    width: 200px;
    
    
    
}

#dropdown li:hover {

    background-color:#4D91C9;
    color: white;
    left: 1px;
    

}

#dropdown li:hover a {
        color: white;
}

#dropdown ul {
    
    display:none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 500;
    left: -1px;
    top: 100%;
    
}

    
#dropdown ul {
 position: absolute;
}


#dropdown li:hover ul {
 display: block;
 
}

#dropdown li:hover ul a{
    color: white;
}

#content {

    float: left;
    margin-top: 1%;
    margin-left: 30%;
          
}
        
#border {

border-left: 1px solid #4D91C9;
border-right: 1px solid #4D91C9;
}

#rightborder {
    border-right: 1px solid black;
}

dt a {

    color: black;
    text-decoration: none;
    padding: 0 0 0 10px;
    

}
dt {

    background-color: #C5E4FD;
    

}

dd a{

    color: black;
    text-decoration: none;
    padding: 0 10px 0 10px;    
    background-color: #C5E4FD;
}

input {

    
    margin-bottom: 10%;
    margin-top: 10%;
    display: block;
}

label {

    float: left;
    margin-bottom: 1%;

}